
@plugin "daisyui" {
    themes: abyss;
};
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.bg-log {
    background-color: red
}
body:has(dialog[open]) {
    overflow: hidden !important;
    padding-right: 0 !important;
  }

